PORT=4000
MONGO_DB=your_mongodb_connection_string
JWT_KEY=your_secret_jwt_key
CLIENT_URL=http://localhost:3000,http://localhost:4000

# Cloudinary (https://cloudinary.com/console)
CLOUDINARY_CLOUD_NAME=dgrrpvkyv
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret
