.PostSide{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    min-height: 100vh;
    overflow: auto;
    min-width: 0;
}

@media (max-width: 768px) {
    .PostSide {
        min-height: auto;
        overflow: visible;
    }
}
